<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZSwogger's Weather App</title>
    <link rel="stylesheet" href="~/css/Style.css" type="text/css"/>
  </head>
  <body>
    <div class="search-wrapper">
        <h1>Check the weather for your area!</h1> <br>
        <p class="white">To search for a specific city and state, use "City, State"</p><br>
        <div class="search-bar">
            <form action="/Home/Results">
                <input type="text" id="city" name="city" placeholder="Enter Location"/>
                    <input type="submit" value="Submit" class="btn btn-success"/>
            </form>
            <br />
        </div>
    </div>
    <div class="lower-wrapper">
        <div class="lower-body">

        </div>
    </div>
    
        
    </body>
</html>
