<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZSwogger's Weather App</title>
    <style>
        .vertical-center{
            min-height: 100%;
            min-height: 100vh;

            display: flex;
            align-items: center;
        }
        .horizontal-center{
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        .button-holder{
            margin: auto;
            width: 70%;
            padding: 10px;
        }
    </style>
  </head>
  <body>
    <div class="horizontal-center">
        <h1>Check the weather for your area!</h1>
        <p>To search for a specific city and state, use "City, State"</p>
    </div>
        <div class="input horizontal-center">
            <form action="/Home/Results">
                <label for="city"><b>Enter Location</b></label>
                <input type="text" id="city" name="city" /><br>
                <div class="button-holder">
                    <input type="submit" value="Submit" class="btn btn-dark"/>
                </div>
            </form>
    </div>
  </body>
</html>
